<div class="header displayFlex">
  <div class="logo">
    <img src="assets/images/chubb_logo.svg" />
  </div>
  <div class="displayFlex notification">
    <div class="displayFlex notification-logos">
      <img src="assets/images/chart.svg" alt="" />
      <img src="assets/images/library_books.svg" alt="" />
    </div>
    <div class="user-name">
      <div class="text-style">s</div>
    </div>
    <div class="user-type">
      Admin
    </div>
    <div class="arrow-icon">
      <img src="assets/images/arrow-down.svg" alt="" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
