/* You can add global styles to this file, and also import other style files */
.displayFlex {
  display: flex;
}

.app-margin {
  margin: 0px 0px 8px 0px;
}

.header {
  background-color: #1cbed5;
  height: 50px;
  justify-content: space-between;

  .logo {
    padding: 18px 0px 0px 30px;
  }

  .notification {
    width: 25%;

    .notification-logos {
      margin: 10px 0px 10px 0px;
      padding-right: 30px;
      border-right: 1px solid #287d8a;

      :first-child {
        margin-right: 35px;
      }
    }

    .user-name {
      margin: 8px;
      height: 30px;
      width: 30px;
      border: 1px solid rgba(53, 53, 53, 0);
      border-radius: 50%;
      background-color: rgba(53, 53, 53, 0.47);
      color: white;

      .text-style {
        font-size: 22px;
        font-weight: bolder;
        margin-left: 11.5px;
      }
    }

    .user-type {
      margin-top: 14px;
      color: white;
    }

    .arrow-icon {
      margin: 13px 0px 0px 3px;
    }
  }
}
